################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/FakeEF/bin
/FakeEF/obj
/FakeEF/packages
/FakeEF.Tests/bin
/FakeEF.Tests/obj
*.suo
*.user
/packages
/FakeEF/*.nupkg
/.vs
/.vs
